
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app='app' ng-controller='myCtrl'>

<div class="container">
  <div class="container">
    <div class="card">
      <h5 class="card-header">Get Slips</h5>
      <div class="card-body">
        <h5 class="card-title">SY BBA CA SEM 1</h5>
        <select name="" ng-model="Name2" placeholder="Select Subject" ng-change="resetForm()" id="" class="form-select m-2"
          aria-label="Default select example" >
          
          <option value="" selected> Select Subject</option>
          <option value="AngularJS">AngularJS</option>
          <option value="R%20Programming">R Programming</option>
          <option value="Data%20Strcture">Data Strcture</option>

        </select>
 
        <input type="text" class="form-control form-control-lg m-2" placeholder="Enter Slip no" ng-model="Name" ng-change="resetForm()" >

      
      </div>
    </div>



  </div>
  <div class=" card  m-2">
    <div class="card-header">
      <h5 class="card-title">Your Code</h5>
    </div>
    <div class="card-body">


      <span class="text-danger ">{{err}}</span>
      <pre>{{data}}</pre>
    </div>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/index.js"></script>
</body>


</html>
